:root {
    --bg-color: #eeeeee;
    --bg-color-alt: #ffffff;
    --text-color: #222222;
    --text-color-alt: #eeeeee;
    --bg-gradient: 0;
    --stroke: #0ef655;
    --modeswap: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border 0.5s ease-in-out, fill 0.5s ease-in-out, opacity 0.5s ease-in-out, stroke -.5s ease-in-out;
}

.light {
    --bg-color: #eeeeee;
    --bg-color-alt: #ffffff;
    --text-color: #222222;
    --text-color-alt: #555555;
    --bg-gradient: 0;
    --stroke: #0ef655;
}

.dark {
    --bg-color: #222222;
    --bg-color-alt: #111111;
    --text-color: #eeeeee;
    --text-color-alt: #999999;
    --bg-gradient: 1;
    --stroke: #600060;
}

.container {
    max-width: 1200px;
    padding: 0 40px;
}